body {
    padding-top: 75px;
}

.form-control {
    //max-width: 350px;
}

.navbar-brand {
    font-family: "Quicksand", "Helvetica", "Arial";
    font-weight: 300 !important;
    text-transform: uppercase;
    color: #ffffff !important;
    font-size: 24px;
}
